body {
  font-family: "Roboto", sans-serif;
}

section {
  margin: 0;
  padding: 20px;
}

.card {
  position: relative;
  margin: 8px auto;
  padding: 1.5rem;
  width: 375px;
  height: 130px;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 0.6s, transform 0.7s;
  transition-delay: 0s;
  /* transform: translateZ(0); */
  backface-visibility: hidden;
  /* -webkit-font-smoothing: subpixel-antialiased; */
}

.card h2 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.card h3 {
  font-size: 1rem;
  color: darkgrey;
  margin: 4px 0;
  padding: 0;
}

.card p {
  font-size: 0.9rem;
  margin: 8px 0;
  padding: 0;
}

.slider {
  position: absolute;
  display: block;
  margin: 0 auto;
  transition: width 0.6s, height 0.75s;
  background-color: black;
  transition-delay: 0.6s, 0.6s;
}

.slider-top {
  left: 0;
  top: 0;
  height: 0.25rem;
  width: 0%;
  transition-delay: 0;
}

.slider-bottom {
  right: 0;
  bottom: 0;
  height: 0.25rem;
  width: 0%;
}

.slider-left {
  left: 0;
  bottom: 0;
  width: 0.25rem;
  height: 0%;
}

.slider-right {
  right: 0;
  top: 0;
  width: 0.25rem;
  height: 0%;
}

.card:hover .slider-top,
.card:hover .slider-bottom {
  width: 100%;
  transition-delay: 0s;
}

.card:hover .slider-left,
.card:hover .slider-right {
  height: 100%;
  transition-delay: 0s;
}

.card:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition-delay: 0.6s;
  transform: scale(1.03, 1.03);
}
